USE [master]
GO
/****** Object:  Database [SBC]    Script Date: 09-07-2017 3:48:10 PM ******/
CREATE DATABASE [SBC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SBC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SBC.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SBC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SBC_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SBC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SBC]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MstAccount]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstAccount](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DOB] [datetime] NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Address1] [nvarchar](max) NOT NULL,
	[Address2] [nvarchar](max) NULL,
	[CountryID] [int] NOT NULL,
	[StateID] [int] NOT NULL,
	[CityID] [int] NOT NULL,
	[PinCode] [int] NOT NULL,
	[AccountTypeID] [int] NOT NULL,
	[GSTIN] [nvarchar](max) NULL,
	[RegistrationDate] [datetime] NOT NULL,
	[RawID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MstAccount] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MstAccountType]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstAccountType](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[RawID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.MstAccountType] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MstCity]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstCity](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CityCode] [int] NOT NULL,
	[CountryID] [int] NOT NULL,
	[StateID] [int] NOT NULL,
	[RawID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.MstCity] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MstCountry]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstCountry](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[RawID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.MstCountry] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MstItem]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstItem](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ItemCode] [nvarchar](max) NOT NULL,
	[Gram] [real] NOT NULL,
	[RawID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MstItem] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MstProduct]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstProduct](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ProductCode] [nvarchar](max) NOT NULL,
	[HSNCODE] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[PurityID] [int] NOT NULL,
	[RawID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MstProduct] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MstPurity]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstPurity](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PurityValue] [real] NOT NULL,
	[TypeID] [int] NOT NULL,
	[RawID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.MstPurity] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MstState]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstState](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[StateCode] [int] NOT NULL,
	[CountryID] [int] NOT NULL,
	[RawID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.MstState] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MstType]    Script Date: 09-07-2017 3:48:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstType](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[RawID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.MstType] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'5669e973-de33-4758-9ee3-68af5015c7ac', N'nisarg18@yshoo.in', 0, N'AMM2Mf9wvfwehY6ETJhPl65uKSzKMHWY0t6FGyCUdryjSyPI4XkxKrQbIkllILwowQ==', N'0f00dbd9-1af0-4a62-bc4d-8389ce5138e5', NULL, 0, 0, NULL, 1, 0, N'nisarg18@yshoo.in')
GO
SET IDENTITY_INSERT [dbo].[MstAccountType] ON 

GO
INSERT [dbo].[MstAccountType] ([RecordID], [Name], [Description], [RawID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Customer', N'Customer Info', N'19b2e43d-b195-4eff-a70b-6d923a88415c', 1, N'5669e973-de33-4758-9ee3-68af5015c7ac', CAST(0x0000A7AB00000000 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[MstAccountType] ([RecordID], [Name], [Description], [RawID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Supplier', N'Supplier Info', N'8adfbfa0-a0db-47f8-8441-c5cadf91bc4a', 1, N'5669e973-de33-4758-9ee3-68af5015c7ac', CAST(0x0000A7AB00000000 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[MstAccountType] ([RecordID], [Name], [Description], [RawID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Karigar', N'Karigar Info', N'c705fcd9-b049-4167-847b-43060cec9954', 1, N'5669e973-de33-4758-9ee3-68af5015c7ac', CAST(0x0000A7AB00000000 AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[MstAccountType] OFF
GO
SET IDENTITY_INSERT [dbo].[MstCity] ON 

GO
INSERT [dbo].[MstCity] ([RecordID], [Name], [CityCode], [CountryID], [StateID], [RawID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Ahmedabad', 1, 1, 1, N'd99bd156-29ba-4db1-8ed8-92419f3c6ad1', 1, N'5669e973-de33-4758-9ee3-68af5015c7ac', CAST(0x0000A7AA00000000 AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[MstCity] OFF
GO
SET IDENTITY_INSERT [dbo].[MstCountry] ON 

GO
INSERT [dbo].[MstCountry] ([RecordID], [Name], [RawID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'India', N'4d1aee4b-4aca-4f56-8037-b77383175509', 1, N'5669e973-de33-4758-9ee3-68af5015c7ac', CAST(0x0000A7AA00000000 AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[MstCountry] OFF
GO
SET IDENTITY_INSERT [dbo].[MstPurity] ON 

GO
INSERT [dbo].[MstPurity] ([RecordID], [Name], [Description], [PurityValue], [TypeID], [RawID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (7, N'24k', N'24 Caret', 100, 1, N'5fa45211-caf4-4164-8cf8-360955f513a3', 1, N'5669e973-de33-4758-9ee3-68af5015c7ac', CAST(0x0000A7AB00000000 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[MstPurity] ([RecordID], [Name], [Description], [PurityValue], [TypeID], [RawID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (8, N'22k', N'22 Caret', 91.66, 1, N'955519b7-735c-4d37-842d-884895529efb', 1, N'5669e973-de33-4758-9ee3-68af5015c7ac', CAST(0x0000A7AB00000000 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[MstPurity] ([RecordID], [Name], [Description], [PurityValue], [TypeID], [RawID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (9, N'20k', N'20 Caret', 83.33, 1, N'25efcfff-0fa2-4343-a6d3-e2449cdbda50', 1, N'5669e973-de33-4758-9ee3-68af5015c7ac', CAST(0x0000A7AB00000000 AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[MstPurity] OFF
GO
SET IDENTITY_INSERT [dbo].[MstState] ON 

GO
INSERT [dbo].[MstState] ([RecordID], [Name], [StateCode], [CountryID], [RawID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Gujarat', 24, 1, N'fcad2c31-cfbd-4ef8-92bb-9a13c2b772f8', 1, N'5669e973-de33-4758-9ee3-68af5015c7ac', CAST(0x0000A7AA00000000 AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[MstState] OFF
GO
SET IDENTITY_INSERT [dbo].[MstType] ON 

GO
INSERT [dbo].[MstType] ([RecordID], [Name], [Description], [RawID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'Silver', N'Silver Ornaments', N'bbc7962d-c738-4bfc-b4b7-bd2b039883d7', 1, N'5669e973-de33-4758-9ee3-68af5015c7ac', CAST(0x0000A7AB00000000 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[MstType] ([RecordID], [Name], [Description], [RawID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Gold', N'Gold Ornaments', N'3d0a3171-aee1-4b71-a1a9-b8d2fefee39a', 1, N'5669e973-de33-4758-9ee3-68af5015c7ac', CAST(0x0000A7AB00000000 AS DateTime), NULL, NULL)
GO
INSERT [dbo].[MstType] ([RecordID], [Name], [Description], [RawID], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Alloy', N'Alloy Metal', N'd15da279-8931-4e4f-82e3-dba61073908b', 1, N'5669e973-de33-4758-9ee3-68af5015c7ac', CAST(0x0000A7AB00000000 AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[MstType] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountTypeID]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccountTypeID] ON [dbo].[MstAccount]
(
	[AccountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityID]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_CityID] ON [dbo].[MstAccount]
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryID]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_CountryID] ON [dbo].[MstAccount]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StateID]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_StateID] ON [dbo].[MstAccount]
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryID]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_CountryID] ON [dbo].[MstCity]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StateID]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_StateID] ON [dbo].[MstCity]
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[MstItem]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurityID]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_PurityID] ON [dbo].[MstProduct]
(
	[PurityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeID]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_TypeID] ON [dbo].[MstProduct]
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeID]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_TypeID] ON [dbo].[MstPurity]
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryID]    Script Date: 09-07-2017 3:48:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_CountryID] ON [dbo].[MstState]
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MstType] ADD  CONSTRAINT [DF__MstType__IsActiv__3587F3E0]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MstType] ADD  CONSTRAINT [DF__MstType__Created__367C1819]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[MstType] ADD  CONSTRAINT [DF__MstType__Created__37703C52]  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MstType] ADD  CONSTRAINT [DF__MstType__Modifie__3864608B]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ModifiedBy]
GO
ALTER TABLE [dbo].[MstType] ADD  CONSTRAINT [DF__MstType__Modifie__395884C4]  DEFAULT ('1900-01-01T00:00:00.000') FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MstAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MstAccount_dbo.MstAccountType_AccountTypeID] FOREIGN KEY([AccountTypeID])
REFERENCES [dbo].[MstAccountType] ([RecordID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstAccount] CHECK CONSTRAINT [FK_dbo.MstAccount_dbo.MstAccountType_AccountTypeID]
GO
ALTER TABLE [dbo].[MstAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MstAccount_dbo.MstCity_CityID] FOREIGN KEY([CityID])
REFERENCES [dbo].[MstCity] ([RecordID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstAccount] CHECK CONSTRAINT [FK_dbo.MstAccount_dbo.MstCity_CityID]
GO
ALTER TABLE [dbo].[MstAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MstAccount_dbo.MstCountry_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[MstCountry] ([RecordID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstAccount] CHECK CONSTRAINT [FK_dbo.MstAccount_dbo.MstCountry_CountryID]
GO
ALTER TABLE [dbo].[MstAccount]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MstAccount_dbo.MstState_StateID] FOREIGN KEY([StateID])
REFERENCES [dbo].[MstState] ([RecordID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstAccount] CHECK CONSTRAINT [FK_dbo.MstAccount_dbo.MstState_StateID]
GO
ALTER TABLE [dbo].[MstCity]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MstCity_dbo.MstCountry_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[MstCountry] ([RecordID])
GO
ALTER TABLE [dbo].[MstCity] CHECK CONSTRAINT [FK_dbo.MstCity_dbo.MstCountry_CountryID]
GO
ALTER TABLE [dbo].[MstCity]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MstCity_dbo.MstState_StateID] FOREIGN KEY([StateID])
REFERENCES [dbo].[MstState] ([RecordID])
GO
ALTER TABLE [dbo].[MstCity] CHECK CONSTRAINT [FK_dbo.MstCity_dbo.MstState_StateID]
GO
ALTER TABLE [dbo].[MstItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MstItem_dbo.MstProduct_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[MstProduct] ([RecordID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstItem] CHECK CONSTRAINT [FK_dbo.MstItem_dbo.MstProduct_ProductID]
GO
ALTER TABLE [dbo].[MstProduct]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MstProduct_dbo.MstPurity_PurityID] FOREIGN KEY([PurityID])
REFERENCES [dbo].[MstPurity] ([RecordID])
GO
ALTER TABLE [dbo].[MstProduct] CHECK CONSTRAINT [FK_dbo.MstProduct_dbo.MstPurity_PurityID]
GO
ALTER TABLE [dbo].[MstProduct]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MstProduct_dbo.MstType_TypeID] FOREIGN KEY([TypeID])
REFERENCES [dbo].[MstType] ([RecordID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstProduct] CHECK CONSTRAINT [FK_dbo.MstProduct_dbo.MstType_TypeID]
GO
ALTER TABLE [dbo].[MstPurity]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MstPurity_dbo.MstType_TypeID] FOREIGN KEY([TypeID])
REFERENCES [dbo].[MstType] ([RecordID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MstPurity] CHECK CONSTRAINT [FK_dbo.MstPurity_dbo.MstType_TypeID]
GO
ALTER TABLE [dbo].[MstState]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MstState_dbo.MstCountry_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[MstCountry] ([RecordID])
GO
ALTER TABLE [dbo].[MstState] CHECK CONSTRAINT [FK_dbo.MstState_dbo.MstCountry_CountryID]
GO
USE [master]
GO
